@media (max-width: 992px) {

}

@media (max-width: 775px) {
    #container {
        .quarterfinals, .semifinals, .final, .winner {
            .team {
                font-size: .8em;
            }
        }

        .winner {
            .team {
                padding-top: 200px;

                font-size: 1.5em;

                span {
                    margin-top: 2em;
                }
            }
        }
    }
}
